*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif,'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(38, 36, 36);
}
/* .container{
    position: relative;
    width: 100%;
    height: 512px;
    background-image: linear-gradient(to top, rgb(87, 86, 86),transparent,transparent,transparent,rgb(87, 86, 86));
} */
.container1{
    width: 100%;
    height: 710px;
    background-image: url(netflixBgimage.jpg);
    filter: brightness(50%);
}
.navebar{
    position: absolute;
    top: -1%;
    font-weight: 900;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 130px;
    
}
.navebar img{
    margin-left: 65px;
    width: 230px;
    height: 100px;
    filter: contrast(500%);
    mix-blend-mode: lighten;
}
.left-data{
    margin-right: 65px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.opt{
    width: 130px;
    height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: rgb(17, 16, 16);
}
.left-data button{
    width: 75px;
    height: 30px;
    color: white;
    font-weight: 700;
    background-color: red;
    border-radius: 5px;
    border: none;
}
.detail{
    position: absolute;
    text-align: center;
    width: 950px;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    top: 35%;
    left: 20%;
}
.detail h1{
    margin-top: 25px;
    font-size: 48px;
    font-weight: 800;
}
.detail h2{
    margin-top: 10px;
    font-weight: 400;
    font-size: 25px;
}
.detail h3{
    margin-top: 15px;
    font-weight: 400;
    font-size: 21px;
}
.regArea{
    margin-top: 15px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regArea input{
    padding-left: 15px;
    width: 400px;
    height: 55px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid red;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.regArea button{
    width: 200px;
    height: 55px;
    background-color: red;
    font-size: 25px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
}
.page2,.page3,.page4{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 580px;
    background-color: black;
}
.contbox1,.contbox2,.contbox3,.contbox4{
    box-sizing: border-box;
    position: absolute;
    top: 19%;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 150px 0px 150px;
}
.box1,.box4,.box5,.box8{
    padding: 0px 60px 0px 0px;
    width: 50%;
    height: 350px;
}
.head1{
    margin-top: 19%;
    font-size: 48px;
}
.head2{
    margin-top: 10px;
    font-weight: 500;
    font-size: 23px;
}
.box2,.box3,.box6,.box7{
    width: 50%;
    height: 350px;
}
.box2{
    position: relative;
    background-image: url(tv.png);
    background-size: cover;
}
.box2 video{
    position: absolute;
    top: 30%;
    left: 6%;
}
.box3{
    background-image: url(mobile-0819.jpg);
    background-size: cover;
}
.box6{
    position: relative;
    background-image: url(neflixTv.png);
    background-size: cover;
}
.box6 video{
    position: absolute;
    top: 22%;
    left: 5%;
}
.box7{
    background-image: url(netflixChild.png);
    background-size: cover;
}
.page5{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 72px 0px 72px 0px;
    width: 100%;
    height: 820px;
    background-color: black;
}
.quesbox{
    position: absolute;
    left: 10%;
    width: 1170px;
    height: 782px;
    background-color: black;
}
.rltd{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
}
.ques1,.ques2,.ques3,.ques4,.ques5,.ques6{
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 36, 36);
    margin: 10px;
    color: white;
}
.ques1:hover{
    background-color: rgb(75, 70, 70);
    transition: 0.7s;
}
.ques2:hover{
    background-color: rgb(75, 70, 70);
    transition: 0.7s;
}
.ques3:hover{
    background-color: rgb(75, 70, 70);
    transition: 0.7s;
}
.ques4:hover{
    background-color: rgb(75, 70, 70);
    transition: 0.7s;
}
.ques5:hover{
    background-color: rgb(75, 70, 70);
    transition: 0.7s;
}
.ques6:hover{
    background-color: rgb(75, 70, 70);
    transition: 0.7s;
}
.quesh1{
    font-size: 25px;
    font-weight: 500;
}
p{
    font-size: 50px;
    font-weight: 300;
}
.detail2{
    position: relative;
    top: 87%;
}
.page6{
    width: 77.5%;
    height: 290px;
    padding: 62px 170px 62px 170px;
    background-color: black;
}
.container2{
    width: 100%;
    height: 240px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.dcont1,.dcont2,.dcont3,.dcont4{
    width: 25%;
    height: 100%;
}
h4{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 14px;
}
.glow:hover{
    background-color: rgb(194, 9, 9);
    transition: 0.7s;
}
